{% extends "base.html" %}

{% block content %}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2 class="uk-article-title">Awards</h2>
    </div>
</div>

{% for year in awards|groupby('year')|reverse %}
<div class="uk-grid" data-uk-grid-margin data-uk-scrollspy="{cls:'uk-animation-fade', target:'div > .uk-panel', delay:5, repeat:true}">
    <div class="uk-width-1-1">
        <div class="uk-panel">
            <h2 style="display:inline-block;">{{ year.grouper }}</h2>


            
            <!-- photoes of people who won important prizes   
             <div class="uk-text-center" style="display:inline-block;vertical-align:middle;margin-left:100px;"> 
                {% for image_name_entry in year.list|sort(attribute='idx', reverse=True) %}
                    {% if image_name_entry.images %}
                      <img style="float:left;margin-right:10px;" height="50px" width="50px" class="uk-border-circle" src="{{ url_for('static', filename='image/photo/' + image_name_entry.images) }}" alt="{{ image_name_entry.images }}">    
                    {% endif %}

                {% endfor %}
            </div>
              !!! end ####photoes of people who won important prizes   -->
             

        </div>
        {% for entry in year.list|sort(attribute='idx', reverse=True) %}
        <div class="uk-panel">
            <p class="uk-article-lead">
                <!--<span class="uk-text-bold uk-text-danger">{{ entry.month }}:</span>-->
                <!-- <span class="uk-icon-circle" style="color:orange;font-size:80%"></span> -->
                {% if entry.images %}
                    <img style="" height="40px" width="40px" class="uk-border-circle" src="{{ url_for('static', filename='image/photo/' + entry.images) }}" alt="{{ entry.images }}">    
                {% endif %}
                {{ entry.content|strong|safe  }}
                <!--{% if entry.details or entry.images %}-->
                <!--<a class="uk-icon-info-circle" data-uk-toggle="{target:'#{{ entry.idx  }}_news', animation:'uk-animation-slide-left, uk-animation-slide-bottom'}"></a>-->
                <!--{% endif %}-->
            </p>
            <!--<div id="{{ entry.idx }}_news" class="uk-hidden">-->
            <div id="{{ entry.idx }}_awards">
                {% if entry.details %}
                <!--this if is for picture in ther future, may only have picture or-->
                <!--word-->
                {{ entry.details|markdown|safe }}
                {% endif %}
                {% if entry.images %}
                <div class="uk-text-center">
                {% for image_name in entry.images|split %}
                   <!--  <img class="uk-container-center" src="{{ url_for('static', filename='image/awards/'+image_name) }}" alt="{{ image_name }}"> -->
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}
