{% extends "base.html" %}

{% block content %}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2 class="uk-article-title">News</h2>
    </div>
</div>

{% for year in news|groupby('year')|reverse %}
<div class="uk-grid" data-uk-grid-margin data-uk-scrollspy="{cls:'uk-animation-fade', target:'div > .uk-panel', delay:5, repeat:true}">
    <div class="uk-width-1-1">
        <div class="uk-panel">
            <h2>{{ year.grouper }}</h2>
        </div>
        {% for entry in year.list|sort(attribute='idx', reverse=True) %}
        <div class="uk-panel uk-margin-top-remove uk-margin-bottom-remove">
            <!--<p class="uk-article-lead" style="margin:0;">-->
            <p class="uk-article-lead uk-margin-top-remove uk-margin-bottom-remove">
                <span class="uk-text-bold uk-text-danger">{{ entry.month }}:</span>
                {{ entry.content|strong|safe  }}
                <!--{% if entry.details or entry.images %}-->
                <!--<a class="uk-icon-info-circle" data-uk-toggle="{target:'#{{ entry.idx  }}_news', animation:'uk-animation-slide-left, uk-animation-slide-bottom'}"></a>-->
                <!--{% endif %}-->
                {% if entry.link %}
                <a class="uk-icon-external-link" href="{{ entry.link }}"></a>
                {% endif %}
            </p>
            <!--<div id="{{ entry.idx }}_news" class="uk-hidden">-->
            <div id="{{ entry.idx }}_news">
                {% if entry.details %}
                <!--this if is for picture in ther future, may only have picture or-->
                <!--word-->
                {{ entry.details|markdown|safe }}
                {% endif %}
                {% if entry.images %}
                <div class="uk-text-center">
                {% for image_name in entry.images|split %}
                <img class="uk-container-center" src="{{ url_for('static', filename='image/news/'+image_name) }}" alt="{{ image_name }}">
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}

