{% extends "base.html" %}

{% block content %}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2 class="uk-article-title">Softwares</h2>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    {% for entry in resources %}
    {% if entry.classes == 'software' %}
    <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box uk-panel-header">	
            <h2 class="uk-panel-title">{{ entry.name }}</h2>
            <p class="uk-article-lead">{{ entry.content|strong|safe }}</p>
            <a href="{{ entry.paper_link }}" class="uk-icon-button uk-icon-file-text-o"></a>
            <a href="{{ entry.link }}" class="uk-icon-button uk-icon-github"></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
        <h2 class="uk-article-title">Databases</h2>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    {% for entry in resources %}
    {% if entry.classes == 'database' %}
    <div class="uk-width-medium-1-2">
        <div class="uk-panel uk-panel-box uk-panel-header">	
            <h2 class="uk-panel-title">{{ entry.name }}</h2>
            <p class="uk-article-lead">{{ entry.content|strong|safe }}</p>
            <a href="{{ entry.paper_link }}" class="uk-icon-button uk-icon-file-text-o"></a>
            <a href="{{ entry.link }}" class="uk-icon-button uk-icon-database"></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}
